node_modules
.env
.node_modules
handy_stuffs/bitdefender_avfree.exe
handy_stuffs/Cloudflare_WARP_2025.6.1400.0.msi
handy_stuffs/CursorUserSetup-x64-1.5.5.exe
handy_stuffs/Docker Desktop Installer.exe
handy_stuffs/GitHubDesktopSetup-x64.exe
handy_stuffs/node-v24.7.0-x64.msi
handy_stuffs/OllamaSetup.exe
handy_stuffs/podman-desktop-1.21.0-setup.exe
handy_stuffs/VMware-player-17.6.1-24319023.exe
handy_stuffs/VMware_Workstation_Player_17.6.1_setup_azo.exe
handy_stuffs/VoidSetup-x64-1.99.30044.exe
handy_stuffs/zen.installer.exe

＃ gh scan output
scripts/gh-scan-output-*